//
   Created by sean on 5/20/2015.

link(rel='stylesheet', href='bower_components/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.min.css')
div
    .h1
        .text-center
            .page-header {{calendarDay}}
                .row
                    .col-md-6.text-center
                        .btn-group
                            button.btn.btn-primary.ng-isolate-scope(mwl-date-modifier='', date='calendarDay.toDateString()', decrement='calendarView') Previous

                            button.btn.btn-default.ng-isolate-scope(mwl-date-modifier='', date='calendarDay.toDateString()', set-to-today='') Today

                            button.btn.btn-primary.ng-isolate-scope(mwl-date-modifier='', date='calendarDay.toDateString()', increment='calendarView') Next

                    br.visible-xs.visible-sm

                    .col-md-6.text-center
                        .btn-group
                            label.btn.btn-primary.ng-pristine.ng-untouched.ng-valid(ng-model='calendarView', btn-radio="'year'") Year

                            label.btn.btn-primary.ng-pristine.ng-untouched.ng-valid(ng-model='calendarView', btn-radio="'month'") Month

                            label.btn.btn-primary.ng-untouched.ng-valid.active.ng-dirty.ng-valid-parse(ng-model='calendarView', btn-radio="'week'") Week

                            label.btn.btn-primary.ng-pristine.ng-untouched.ng-valid(ng-model='calendarView', btn-radio="'day'") Day

.h3
    .text {{name}}
        .h5.
            <mwl-calendar
              view="calendarView"
              current-day="calendarDay"
              events="events"
              view-title="Calendar"
              on-event-click="eventClicked(calendarEvent)"
              edit-event-html="'<i class=\'fa fa-pencil\'></i>'"
              delete-event-html="'<i class=\'fa fa-remove\'></i>'"
              on-edit-event-click="eventEdited(calendarEvent)"
              on-delete-event-click="eventDeleted(calendarEvent)"
              auto-open="true"
              day-view-start="06:00"
              day-view-end="22:00"
              day-view-split="30"
              class="ng-isolate-scope">
            </mwl-calendar>

h3#event-editor Edit Your Events &nbsp;
   small.right Here you can view information about your events and add new event. Don't forget to save anything you edit!
   button.btn.btn-primary.pull-right( ng-click="events.push({title: 'New event', type: 'important', startsAt: '8:00AM'})") Add new

   table.table.table-bordered
      thead
         tr
            th Title
            th Location/Class
            th Message
            th Type
            th Starts at
            th Ends at
            th Remove
            tbody

              //the $scope variable are found in ng-model. Thats what you want to save out for parse
              tr.ng-scope(ng-repeat='event in events track by $index')
                td
                  input.form-control.ng-pristine.ng-untouched.ng-valid(type='text', ng-model='event.title')
                td
                  input.form-control.ng-pristine.ng-untouched.ng-valid(type='text', ng-model='event.location')
                td
                  input.form-control.ng-pristine.ng-untouched.ng-valid(type='text', ng-model='event.message')
                td
                  select.form-control.ng-pristine.ng-untouched.ng-valid(ng-model='event.type')
                    option(value='important') Important
                    option(value='warning') Warning
                    option(value='info') Info
                    option(value='inverse') Inverse
                    option(value='success') Success
                    option(value='special') Special
                td
                  p.input-group(style='max-width: 250px')
                    input.form-control(type='text', readonly='', datepicker-popup='medium', ng-model='event.startsAt', is-open='event.startOpen', close-text='Close')
                    span.input-group-btn
                      button.btn.btn-default(type='button', ng-click="toggle($event, 'startOpen', event)")
                        i.fa.fa-calendar.fa-lg
                  timepicker(ng-model='event.startsAt', hour-step='1', minute-step='15', show-meridian='true')
                td
                  p.input-group(style='max-width: 250px')
                    input.form-control(type='text', readonly='', datepicker-popup='medium', ng-model='event.endsAt', is-open='event.endOpen', close-text='Close')
                    span.input-group-btn
                      button.btn.btn-default(type='button', ng-click="toggle($event, 'endOpen', event)")
                        i.fa.fa-calendar.fa-lg
                  timepicker(ng-model='event.endsAt', hour-step='1', minute-step='15', show-meridian='true')
                td
                    ul(style='list-style-type: none;')
                        li
                            button.btn.btn-success(ng-click='saveEvent(event)') Save
                        li
                            button.btn.btn-danger(ng-click='deleteEvent(event); events.splice($index, 1)') Delete
